.mat-step-header {
    pointer-events: none !important;
}
.form-control {
    color: black !important;
}
#icon-credit i {
    font-size: 34px;
}
#payemnt .btn-outline-secondary:hover{
cursor: not-allowed;
background-color: #ced4da;
}
#payemnt .btn-outline-secondary {
    border-color: #ced4da !important;
    border-right: none !important;
    border-radius: 0 !important;
}
#payemnt input {
    border-left: none !important;
    margin-left: -2px;
    font-family: initial;
    border-radius: 0 !important;
}
@media screen and (max-width: 800px) {
    #payemnt .btn-outline-secondary {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    #payemnt .btn-outline-secondary {
      display: none;
    }
  }
  @media screen and (max-width: 800px) {
    #payemnt input {
        border-left: 1px solid #ced4da !important;
        margin-left: 2px;
    }
  }
  @media screen and (max-width: 600px) {
    #payemnt input {
        border-left: 1px solid #ced4da !important;
        margin-left: 2px;
    }
  }
  @media screen and (max-width: 800px) {
    #payemnt {
     display: contents;
      padding-left: 2px !important;
      padding-right: 2px !important;
    }
  }
  @media screen and (max-width: 600px) {
    #payemnt {
      display: contents;
      padding-left: 2px !important;
      padding-right: 2px !important;
    }
  }
  @media screen and (max-width: 800px) {
    mat-card {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 600px) {
    mat-card  {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 800px) {
   #account input {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
  }
  @media screen and (max-width: 600px) {
    #account input {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
  }
  @media screen and (max-width: 800px) {
    #account #gender {
       width: 100% !important;
       margin-top: 10px !important;
       margin-left: 10px;
     }
   }
   @media screen and (max-width: 600px) {
     #account #gender {
       width: 100% !important;
       margin-top: 10px !important;
       margin-left: 10px;
     }
   }
   @media screen and (max-width: 800px) {
    #cardContent {
       width: 100% !important;
       padding-left: 2px !important;
       padding-right: 2px !important;
     }
   }
   @media screen and (max-width: 600px) {
     #cardContent {
       width: 100% !important;
       padding-left: 2px !important;
       padding-right: 2px !important;
     }
   }
   @media screen and (max-width: 800px) {
    #account p {
       margin: 0 20px !important;
     }
   }
   @media screen and (max-width: 600px) {
     #account p {
        margin: 0 20px !important;
     }
   }
   .mat-mini-fab.mat-accent {
    background-color: #ecf0f1;
    color: #e74c3c;
}