
<div style="width: 28%; float:left; margin-right: 1%;">
  <mat-card style="background-color: #f8c291">
    <mat-card-header>
      <mat-card-title style="font-weight: bold">Categories</mat-card-title>
      <mat-card-subtitle style="margin-top: -14px;">Total subjects</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-divider></mat-divider><br>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="addCategory(1)">Add category <i class="fas fa-pen"></i></button>
      <button mat-stroked-button color="accent">Update <i class="fas fa-edit"></i></button>
      <button mat-stroked-button color="warn">Delete <i class="fas fa-trash-alt"></i></button>
    </mat-card-actions><br>
  </mat-card>


</div>

<div style="width: 70%; float:right">
  <mat-card style="background-color: #f1f2f6">
    <mat-card-header>
      <mat-card-title>
        right
      </mat-card-title>
      <mat-card-subtitle style="font-weight: bold">Subjects</mat-card-subtitle>
      <mat-card-subtitle style="margin-top: -14px;">Total subjects</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <i class="far fa-copy"></i>
    </mat-card-actions>
  </mat-card>
</div>
