<div class="form-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add a new category</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br>
      <mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
      <br>
      <form>

        <mat-form-field style="width: 100%;">
          <mat-label>Enter name</mat-label>
          <input type="text" matInput name="name"
                 [(ngModel)]="category.name" #name="ngModel" required>
        </mat-form-field> <br>

        <mat-form-field style="width: 100%;">
          <mat-label>Enter description</mat-label>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="category.description"
            #description="ngModel"></textarea>
        </mat-form-field><br>

        <button mat-raised-button color="primary"
          [disabled]="description.invalid
          || name.invalid"
          (click)="addCategory()" style="width: 10em !important">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
