<div class="auth-content">
  <mat-card>
    <mat-card-header style="background: #d35400; padding: 15px 10px 6px; color: #ffffff; border-top-left-radius: 30px;">
      <mat-card-title *ngIf="!isSuccessful">
        <mat-icon>how_to_reg</mat-icon>
        <span style="margin-left: 8px">Singup</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="border: 4px solid #d35400">
      <mat-list *ngIf="!isSuccessful">
        <mat-list-item>Please fill the fields</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>

      <form style="padding: 15px;" *ngIf="!isSuccessful" name="form" (ngSubmit)="formLogin.form.valid && onSubmit()"
        #formLogin="ngForm" novalidate>

        <mat-form-field style="width: 100%">
          <mat-label>Enter username</mat-label>
          <input (keyup)="usernameCorrect()" type="text" matInput name="username" minlength="4" maxlength="20" [(ngModel)]="form.username"
            #username="ngModel" required />
          <div *ngIf="showExistName" class="alert alert-danger" style="margin-top: 10px">
            Username already exist
          </div>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger"
            style="margin-top: 10px">
            <div *ngIf="username.errors.required">
              Username is required.
            </div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 4 characters long.
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
            <div *ngIf="username.errors.forbiddenName">
              Username cannot be Bob.
            </div>
          </div>
        </mat-form-field>
        <br />

        <mat-form-field style="width: 100%">
          <mat-label>Enter email</mat-label>
          <input type="email" matInput name="email" minlength="4" maxlength="20" [(ngModel)]="form.email"
            #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"
            style="margin-top: 10px">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.minlength">
              Email must be at least 4 characters long.
            </div>
            <div *ngIf="email.errors.maxlength">
              Email must be at most 20 characters
            </div>
            <div *ngIf="email.errors.forbiddenName">
              Email cannot be Bob.
            </div>
            <div *ngIf="email.errors && email.errors.pattern">
              Email is invalid
            </div>
          </div>
        </mat-form-field>
        <br />

        <mat-form-field style="width: 100%">
          <mat-label>Enter password</mat-label>
          <input type="password" matInput name="password" minlength="6" maxlength="20" [(ngModel)]="form.password"
            #password="ngModel" required />
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger"
            style="margin-top: 10px">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters long.
            </div>
            <div *ngIf="password.errors.maxlength">
              Password must be at most 20 characters
            </div>
            <div *ngIf="password.errors.forbiddenName">
              Password cannot be Bob.
            </div>
          </div>
        </mat-form-field>
        <br />


        <button mat-raised-button [disabled]="username.invalid || password.invalid || email.invalid" color="primary"
          type="submit"> Login<mat-icon>exit_to_app</mat-icon> </button>

        <div class="alert alert-danger" *ngIf="formLogin.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>


    </mat-card-content>
    <hr />
    <mat-card-actions>
      <p style="text-align: center;">
        All ready i have an account
        <button mat-button mat-dialog-close color="primary" (click)="singin()">
          Singin<mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-dialog-close title="Update category" mat-mini-fab
          style="background: transparent;  margin-right: 15px; color: #d35400;">
          <i class="material-icons">close</i>
        </button>
      </p>


    </mat-card-actions>
  </mat-card>
</div>