<mat-card style="padding-bottom: 32px;">
    <mat-card-header>
      <mat-card-subtitle> Il s'agit d'un code à trois chiffres imprimé dans le panneau signature qui se trouve au verso de votre carte. </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://zupimages.net/up/21/10/cm0n.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
        <button style="width: 100%;" type="button" class="btn btn-outline-secondary" (click)="close()">Fermer</button>
    </mat-card-actions>
  </mat-card>
  