@media screen and (max-width: 600px) {
    mat-card-actions {
     text-align: center;
    }
  }
  @media screen and (max-width: 600px) {
    mat-card-actions button {
     margin-top: 10px;
    }
  }
  @media screen and (max-width: 800px) {
    mat-card-actions {
      text-align: center;
    }
  }
  @media screen and (max-width: 800px) {
    mat-card-actions button {
      margin-top: 10px;
    }
  }